<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset("img/apple-icon.png")}}" />
    <link rel="icon" type="image/png" href="{{asset("img/favicon.png")}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Admin Panel | Ringtones</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="{{asset("css/bootstrap.min.css")}}" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="{{asset("css/material-dashboard.css")}}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{asset("css/demo.css")}}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <script src="{{asset("js/jscolor.js")}}"></script>
    <script src="{{asset("js/jscolor.js")}}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{asset("lib/css/emoji.css")}}" rel="stylesheet">


    <link rel="stylesheet" href="{{asset("tags/css/normalize.css")}}">
    <!--[if IE 8]><script src="{{asset("js/es5.js")}}"></script><![endif]-->
    <script src="{{asset("js/jquery.min.js")}}"></script>
    <script src="{{asset("tags/js/standalone/selectize.js")}}"></script>
    <link rel="stylesheet" href="{{asset("tags/css/selectize.default.css")}}">
    <style type="text/css">
        img.imageThumb {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 100px;
            height: 100px;
        }

        img.imageThumb:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
    </style>
</head>

<body>
            <audio controls id="audioplayer">
            <source src="" type="audio/ogg">
            <source src="" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{type}} alert-with-icon alert-dashborad" data-notify="container"  style="position: absolute;right: 20px;top: 0px;z-index: 1000;">
                <i class="material-icons" data-notify="icon">notifications</i>
                <button type="button" aria-hidden="true" class="close">
                    <i class="material-icons">close</i>
                </button>
                <span data-notify="message">{{message|trans}}</span>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="wrapper">
        <div class="sidebar" data-active-color="rose"  data-background-color="black" >
              <!--
                  Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                  Tip 2: you can also add an image using data-image tag
              -->
              <div class="logo">
                  <a href="{{path("app_home_index")}}" class="simple-text">
                      Admin Panel
                  </a>
              </div>
              <div class="sidebar-wrapper" style="overflow: scroll">
                <div class="user">
                        <div class="photo">
                            <img src="{{asset("img/avatar.jpg")}}">
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                                Admin
                                <b class="caret"></b>
                            </a>
                            <div class="collapse" id="collapseExample">
                                <ul class="nav" style="margin-top:0px">
                                    <li>
                                        <a href="{{path("fos_user_change_password")}}">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="{{path("fos_user_security_logout")}}">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <ul class="nav">

                        <li {% if "app_home_index" in  app.request.attributes.get('_route') %} class="active"{% endif %}>
                            <a href="{{path("app_home_index")}}"> 
                                <i class="material-icons">dashboard</i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                    <li {% if "app_home_notif_" in  app.request.attributes.get('_route') %} class="active"{% endif %}>
                        <a data-toggle="collapse" href="#pagesExamples" class="" >
                            <i class="material-icons">notifications_active</i>
                            <p>Notifications
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="pagesExamples" aria-expanded="true" style="">
                            <ul class="nav">
                                <li>
                                    <a href="{{path("app_home_notif_ringtone")}}">Ringtones</a>
                                </li>
                                <li>
                                    <a href="{{path("app_home_notif_category")}}">Category</a>
                                </li>
                                <li>
                                    <a href="{{path("app_home_notif_url")}}">Url</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                        <li {% if "app_slide" in  app.request.attributes.get('_route') %} class="active"{% endif %}>
                            <a href="{{path("app_slide_index")}}">
                                <i class="material-icons">slideshow</i>
                                <p>Slide</p>
                            </a>
                        </li>                        
                        <li {% if "app_section" in  app.request.attributes.get('_route') or  "app_category" in  app.request.attributes.get('_route') %} class="active"{% endif %}>
                            <a data-toggle="collapse" href="#categoriesExamples" class="" >
                                <i class="material-icons">view_list</i>
                                <p>Categories
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <div class="collapse" id="categoriesExamples" aria-expanded="true" style="">
                                <ul class="nav">
                                    <li>
                                        <a href="{{path("app_section_index")}}">
                                            <!-- <i class="material-icons">music</i> -->
                                            <p>Ringtones</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path("app_section_wallpaper_index")}}">
                                            <!-- <i class="material-icons">wallpaper</i> -->
                                            <p>Wallpaper</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </li>
                        <li {% if "ringtone_review" in  app.request.attributes.get('_route') %} class="active"{% endif %}>
                            <a data-toggle="collapse" href="#reviewsExamples" class="" >
                                <i class="material-icons">watch_later</i>
                                <p>Reviews
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <div class="collapse" id="reviewsExamples" aria-expanded="true" style="">
                                <ul class="nav">
                                    <li>
                                        <a href="{{path("app_ringtone_reviews")}}">
                                            <!-- <i class="material-icons">music</i> -->
                                            <p>Ringtones</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path("app_wallpaper_reviews")}}">
                                            <!-- <i class="material-icons">wallpaper</i> -->
                                            <p>Wallpaper</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </li>
                        <li {% if "app_ringtone_index" in  app.request.attributes.get('_route') or "app_ringtone_add" in  app.request.attributes.get('_route') or "app_ringtone_edit" in  app.request.attributes.get('_route') or "app_ringtone_delete" in  app.request.attributes.get('_route')  or "app_ringtone_view" in  app.request.attributes.get('_route') %} class="active"{% endif %}>
                            <a href="{{path("app_ringtone_index")}}">
                                <i class="material-icons">queue_music</i>
                                <p>Ringtones</p>
                            </a>
                        </li> 

                        <li {% if "app_wallpaper_index" in  app.request.attributes.get('_route') or "app_wallpaper_add" in  app.request.attributes.get('_route') or "app_wallpaper_edit" in  app.request.attributes.get('_route') or "app_wallpaper_delete" in  app.request.attributes.get('_route')  or "app_wallpaper_view" in  app.request.attributes.get('_route') %} class="active"{% endif %}>
                            <a href="{{path("app_wallpaper_index")}}">
                                <i class="material-icons">image</i>
                                <p>Wallpapers</p>
                            </a>
                        </li> 

                        <li {% if "tags" in  app.request.attributes.get('_route') %} class="active"{% endif %}  >
                            <a href="{{path("app_home_tags_index")}}">
                            <i class="material-icons">label</i>
                                <p>Tags</p>
                            </a>
                        </li>                     
                        <li {% if "support" in  app.request.attributes.get('_route') %} class="active"{% endif %}  >
                            <a href="{{path("app_support_index")}}">
                            <i class="material-icons">messages</i>
                                <p>Support messages</p>
                            </a>
                        </li>
                        <li {% if "report" in  app.request.attributes.get('_route') %} class="active"{% endif %}  >
                            <a href="{{path("app_report_index")}}">
                            <i class="material-icons">report</i>
                                <p>Report messages</p>
                            </a>
                        </li>
                        <li {% if "version" in  app.request.attributes.get('_route') %} class="active"{% endif %}  >
                            <a href="{{path("app_version_index")}}">
                            <i class="material-icons">apps</i>
                                <p>Versions App</p>
                            </a>
                        </li>
                        <li {% if "user" in  app.request.attributes.get('_route') %} class="active"{% endif %}  >
                            <a href="{{path("user_user_index")}}">
                            <i class="material-icons">group</i>
                                <p>Users</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        <div class="main-panel" style="overflow: scroll">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{path("fos_user_change_password")}}">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="{{path("fos_user_security_logout")}}">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>

            <div class="content">
                {% block body %}
                    
                {% endblock %}
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.ristana.com">Ristana Inc</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>

</body>

    <!--   Core JS Files   -->
    <script src="{{asset("js/jquery-3.1.0.min.js")}}" type="text/javascript"></script>
    <script src="{{asset("js/bootstrap.min.js")}}" type="text/javascript"></script>
    <script src="{{asset("js/material.min.js")}}" type="text/javascript"></script>


    <!--  Notifications Plugin    -->
    <script src="{{asset("js/bootstrap-notify.js")}}"></script>


    <!-- Material Dashboard javascript methods -->
    <script src="{{asset("js/material-dashboard.js")}}"></script>

    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="{{asset("js/demo.js")}}"></script>
    <script src="{{asset("js/app.js")}}"></script>
  <script src="{{asset("lib/js/config.js")}}"></script>
  <script src="{{asset("lib/js/util.js")}}"></script>
  <script src="{{asset("lib/js/jquery.emojiarea.js")}}"></script>
  <script src="{{asset("lib/js/emoji-picker.js")}}"></script>


    <script>
      $(function() {
        // Initializes and creates emoji set from sprite sheet
        window.emojiPicker = new EmojiPicker({
          emojiable_selector: '[data-emojiable=true]',
          assetsPath: '../lib/img/',
          popupButtonClasses: 'fa fa-smile-o'
        });
        // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
        // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
        // It can be called as many times as necessary; previously converted input fields will not be converted again
        window.emojiPicker.discover();
      });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){

            // Javascript method's body can be found in assets/js/demos.js

        });
    </script>

</html>