
{% extends "AppBundle::layout.html.twig" %}
{% block body%}
<div class="container-fluid">
    <div class="row">
       <div class="col-sm-offset-1 col-md-10">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">music_note</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Edit : {{form.vars.value.title}}</h4>
                    {{form_start(form)}}
                        <div class="form-group label-floating ">
                            <label class="control-label">Ringtone title</label>
                            {{form_widget(form.title,{"attr":{"class":"form-control"}})}}
                            <span class="validate-input">{{form_errors(form.title)}}</span>
                        </div>
                        <div class="form-group label-floating ">
                            <label class="control-label">ringtone tags (Ex:anim,art,hero)</label>
                            <br>
                            {{form_widget(form.tags,{"attr":{"class":"input-tags"}})}}
                            <span class="validate-input">{{form_errors(form.tags)}}</span>
                        </div>
                        <script>
                        $('.input-tags').selectize({
                          persist: false,
                          createOnBlur: true,
                          create: true
                        });
                        </script>
                        <div class="form-group label-floating ">
                            <label class="control-label">ringtone Description</label>
                            {{form_widget(form.description,{"attr":{"class":"form-control","rows":7}})}}
                            <span class="validate-input">{{form_errors(form.description)}}</span>
                        </div>
                        <div class="">
                              <label>
                                {{form_widget(form.enabled)}}  Enabled
                              </label>
                        </div>
                        <br>
                        {{form_label(form.categories,null,{label_attr:{"style":"font-size:16px"}})}} :
                        <div>
                            <div class="row">
                           {% for field in form.categories %}
                                <label  style="background: #e02d6c;border-radius: 20px;padding: 5px;text-align: center;margin: 10px;color: white;font-weight: bold;padding-left: 20px;padding-right: 20px; ">
                                    <div  style="padding:3px;">
                                    {{ form_widget(field) }} {{ field.vars.label }}
                                    </div>
                                </label>
                            {% endfor %}
                            </div>
                        </div>
                        <audio controls style="width:100%">
                          <source src="{{app.request.getSchemeAndHttpHost()}}/{{form.vars.value.media.link}}" type="audio/ogg">
                          <source src="{{app.request.getSchemeAndHttpHost()}}/{{form.vars.value.media.link}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                        </audio>
                         <div class="fileinput fileinput-new text-center" data-provides="fileinput" style="width: 100%;">
                              <div class="fileinput-preview thumbnail"></div>
                              <div>
                                  <a href="#" class="btn btn-rose btn-round btn-select" style="width: 100%;"><i class="material-icons">music_note</i> Select ringtone</a>
                              </div>
                              {{form_widget(form.file,{"attr":{"class":"file-hidden input-file","style":"   /* display: none; */height: 0px;width: 0px;position: absolute;"}})}}
                          </div>
                          <span class="validate-input">{{form_errors(form.file)}}</span>
                          <br>
                          <span class="pull-right"><a href="{{path("app_ringtone_index")}}" class="btn btn-fill btn-yellow"><i class="material-icons">arrow_back</i> Cancel</a>{{form_widget(form.save,{attr:{"class":"btn btn-fill btn-rose"}})}}</span>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}